{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="shop-cards">
                <div class="hero-title">
                    <h1>Biz 1,000 dan ortiq e'lon topdik</h1>
                </div>
                {% if ads %}
                    {% for ad in ads %}
                        <a href="{% url 'single' ad.id %}" class="card">
                            <img src="{{ ad.default_image }}" alt="#">
                            <div class="info">
                                <h3>{{ ad.title }}</h3>
                                <p><small>{{ ad.address }}</small></p>
                                <p>{{ ad.description|truncatewords:5 }} </p>
                                <h4>{{ ad.price }}$</h4>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>Malumot topilamdi</h2>
                {% endif %}
            </div>
        </div>
    </main>
  
{% endblock %}