{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="image-section">
                <div class="slider-container">
                    <div class="slider">
                        {% for img in reklama_img %}
                            <img src="{{ img.image.url }}" class="slide" alt="">
                        {% endfor %}
                    </div>
                    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                    <button class="next" onclick="changeSlide(1)">&#10095;</button>
                </div>
                <div class="product-info">
                    <h3>Tavsif</h3>
                    <p>{{ reklama.descripton }}</p>
                </div>
            </div>

            <div class="details">
                <h2>Премиальный электромобиль BYD Tang EV600 <br> Dual-Motor 4.6s</h2>
                <p class="price">{{ reklama.price }}</p>
                <div class="details-btns">
                    <button class="btnn">Xabar yozish</button>
                    <button class="btnn">Qo’ng’iroq qilish</button>
                </div>

                <div class="details-user">
                    <h3 class="det-title">Foydalanuvchi</h3>
                    <div class="det-user-info">
                        <div class="info-img">
                        {% if reklama.user and reklama.user.image %}
                            <img src="{{ reklama.user.image.url }}" alt="user avatar">
                        {% else %}
                            <img src="{% static 'img/user.svg' %}" alt="default user avatar">
                        {% endif %}
                        </div>
                        <div class="det-user-des">
                            <h3 class="user-des-title">{{ reklama.user.first_name }}</h3>
                            <h4>OLXda 2012 M11 beri</h4>
                            <h4>Oxirgi marta bugun 01:50 da bo'lgan</h4>
                        </div>
                    </div>
                </div>

                <div class="details-user">
                    <h3 class="det-title">Joylashuv</h3>
                    <div class="det-map">
                        <div class="det-user-info">
                            <div class="info-imgg">
                                <img src="{% static 'img/location.png' %}" alt="">
                            </div>
                            <div class="det-user-des">
                                <h3 class="user-des-title">{{ reklama.address }}</h3>
                                <h4>Toshkent viloyati</h4>
                            </div>
                        </div>
                        <div class="details-map">
                            <img src="{% static 'img/map.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}